<div class="container-racquets">

  <div class="racquets-header">
      <h1 stock-heading>Inventory</h1>
  </div>

      <ul class="collapsible">
        <% for (var inventory of inventory) { %>
          <li>
            <div class="collapsible-header inventory-box"><i class="material-icons">business</i>
              <p><%= inventory.item %></p>
              <p><%= inventory.brand %></p>
              <p><%= inventory.onHand %></p>
              <p><%= inventory.price %></p>
            </div>
            <div class="collapsible-body"><span><p><%= inventory.description %></p></span></div>
          </li>
        <% } %>
      </ul>

</div>
